# Classification Exercise

We'll be working with some California Census Data, we'll be trying to use various features of an individual to predict what class of income they belogn in (>50k or <=50k). 

Here is some information about the data:

<table>
<thead>
<tr>
<th>Column Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>age</td>
<td>Continuous</td>
<td>The age of the individual</td>
</tr>
<tr>
<td>workclass</td>
<td>Categorical</td>
<td>The type of employer the  individual has (government,  military, private, etc.).</td>
</tr>
<tr>
<td>fnlwgt</td>
<td>Continuous</td>
<td>The number of people the census  takers believe that observation  represents (sample weight). This  variable will not be used.</td>
</tr>
<tr>
<td>education</td>
<td>Categorical</td>
<td>The highest level of education  achieved for that individual.</td>
</tr>
<tr>
<td>education_num</td>
<td>Continuous</td>
<td>The highest level of education in  numerical form.</td>
</tr>
<tr>
<td>marital_status</td>
<td>Categorical</td>
<td>Marital status of the individual.</td>
</tr>
<tr>
<td>occupation</td>
<td>Categorical</td>
<td>The occupation of the individual.</td>
</tr>
<tr>
<td>relationship</td>
<td>Categorical</td>
<td>Wife, Own-child, Husband,  Not-in-family, Other-relative,  Unmarried.</td>
</tr>
<tr>
<td>race</td>
<td>Categorical</td>
<td>White, Asian-Pac-Islander,  Amer-Indian-Eskimo, Other, Black.</td>
</tr>
<tr>
<td>gender</td>
<td>Categorical</td>
<td>Female, Male.</td>
</tr>
<tr>
<td>capital_gain</td>
<td>Continuous</td>
<td>Capital gains recorded.</td>
</tr>
<tr>
<td>capital_loss</td>
<td>Continuous</td>
<td>Capital Losses recorded.</td>
</tr>
<tr>
<td>hours_per_week</td>
<td>Continuous</td>
<td>Hours worked per week.</td>
</tr>
<tr>
<td>native_country</td>
<td>Categorical</td>
<td>Country of origin of the  individual.</td>
</tr>
<tr>
<td>income</td>
<td>Categorical</td>
<td>"&gt;50K" or "&lt;=50K", meaning  whether the person makes more  than \$50,000 annually.</td>
</tr>
</tbody>
</table>

## Follow the Directions in Bold. If you get stuck, check out the solutions lecture.

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [27]:
data = pd.read_csv('census_data.csv')

In [28]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** TensorFlow won't be able to understand strings as labels, you'll need to use pandas .apply() method to apply a custom function that converts them to 0s and 1s. This might be hard if you aren't very familiar with pandas, so feel free to take a peek at the solutions for this part.**

** Convert the Label column to 0s and 1s instead of strings.**

In [29]:
def convertBinary(string):
    if string == ' <=50K':
        return 0
    else:
        return 1

In [33]:
data['income_bracket'].unique()

array([0, 1])

In [31]:
data['income_bracket'] = data['income_bracket'].apply(func=convertBinary)

In [32]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

### Perform a Train Test Split on the Data

In [34]:
from sklearn.model_selection import train_test_split

In [37]:
x_data = data.drop(labels='income_bracket',axis=1)

In [39]:
x_data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [40]:
y_data = data['income_bracket']

In [42]:
y_data.head()

0    0
1    0
2    0
3    0
4    0
Name: income_bracket, dtype: int64

In [168]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.33, random_state=42)

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [169]:
data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

** Import Tensorflow **

In [170]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [171]:
gender =tf.feature_column.categorical_column_with_vocabulary_list("gender",['Female','Male'])

In [172]:
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size=1000)

In [173]:
gender = tf.feature_column.categorical_column_with_vocabulary_list("gender", ["Female", "Male"])
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [174]:
len(data['education'].unique())

16

** Create the continuous feature_columns for the continuous values using numeric_column **

In [181]:
age = tf.feature_column.numeric_column("age")

In [182]:
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [183]:
feat_cols = [gender,occupation,marital_status,relationship,education,workclass,native_country,
            age,education_num,capital_gain,capital_loss,hours_per_week]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [184]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=128,num_epochs=1000,
                                                 shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [187]:
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp_676ldo_
INFO:tensorflow:Using config: {'_train_distribute': None, '_master': '', '_service': None, '_task_type': 'worker', '_num_worker_replicas': 1, '_model_dir': '/tmp/tmp_676ldo_', '_experimental_distribute': None, '_protocol': None, '_num_ps_replicas': 0, '_evaluation_master': '', '_is_chief': True, '_save_summary_steps': 100, '_keep_checkpoint_max': 5, '_tf_random_seed': None, '_log_step_count_steps': 100, '_global_id_in_cluster': 0, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_secs': 600, '_experimental_max_worker_delay_secs': None, '_device_fn': None, '_save_checkpoints_steps': None, '_eval_distribute': None, '_task_id': 0, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f0aae58e0f0>, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
}

** Train your model on the data, for at least 5000 steps. **

In [188]:
model.train(input_fn=input_func,steps=10000)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Entity <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0c895b2f28>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0c895b2f28>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0c895b2f28>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0c895b2f28>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0ab355f240>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0ab355f240>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0ab355f240>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0ab355f240>>: AssertionError: Bad argument number for Name: 3, expecting 4
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmp_676ldo_/model.ckpt.
INFO:tensorflow:loss = 88.722855, step = 1
INFO:tensorflow:global_step/sec: 59.9787
INFO:tensorflow:loss = 1756.5819, step = 101 (1.670 sec)
INFO:tensorflow:global_step/sec: 384.35
INFO:tensorflow:loss = 526.2361, step = 201 (0.260 sec)
INFO:tensorflow:global_step/sec: 435.194
INFO:tensorflow:loss = 229.39851, step = 301 (0.229 sec)
INFO:tensorflow:global_step/sec: 434.857
INFO:tensorflow:loss = 220.80075, step = 401 (0.230 sec)
INFO:tensorflow:global_step/sec: 454.999
INFO:tensorflow:loss = 213.77765, step = 501 (0.220 sec)
INFO:tensorflow:global_step/sec: 441.376
INFO:tensorflow:loss = 91.05428, step = 601 (0.227 sec)
INFO:tensorflow:global_step/sec: 436.662
INFO:tensorflow:loss = 104.77633, step = 701 (0.227 sec)
INFO:tensorflow:global_step/sec: 444.207
INFO:tensorflow:loss = 58.391037, step = 801 (0.226 sec)
INFO:tensorflow:global_step/sec: 435.37
INFO:tensorflow:loss = 328.81357, step = 901 (0.230 sec)
INFO:tensorflow:global_step/sec: 455.76
INFO:tensorflow:loss = 68.16899, step = 1001 (0.218 sec)
INFO:tensorflow:global_step/sec: 448.811
INFO:tensorflow:loss = 147.47636, step = 1101 (0.223 sec)
INFO:tensorflow:global_step/sec: 440.461
INFO:tensorflow:loss = 98.86258, step = 1201 (0.228 sec)
INFO:tensorflow:global_step/sec: 437.121
INFO:tensorflow:loss = 294.6766, step = 1301 (0.228 sec)
INFO:tensorflow:global_step/sec: 442.26
INFO:tensorflow:loss = 52.792965, step = 1401 (0.226 sec)
INFO:tensorflow:global_step/sec: 435.156
INFO:tensorflow:loss = 118.77374, step = 1501 (0.231 sec)
INFO:tensorflow:global_step/sec: 414.856
INFO:tensorflow:loss = 46.473602, step = 1601 (0.241 sec)
INFO:tensorflow:global_step/sec: 430.002
INFO:tensorflow:loss = 110.15971, step = 1701 (0.233 sec)
INFO:tensorflow:global_step/sec: 428.635
INFO:tensorflow:loss = 56.311157, step = 1801 (0.233 sec)
INFO:tensorflow:global_step/sec: 445.993
INFO:tensorflow:loss = 1309.209, step = 1901 (0.224 sec)
INFO:tensorflow:global_step/sec: 446.261
INFO:tensorflow:loss = 46.995155, step = 2001 (0.225 sec)
INFO:tensorflow:global_step/sec: 442.135
INFO:tensorflow:loss = 41.76706, step = 2101 (0.225 sec)
INFO:tensorflow:global_step/sec: 448.697
INFO:tensorflow:loss = 99.40905, step = 2201 (0.224 sec)
INFO:tensorflow:global_step/sec: 449.102
INFO:tensorflow:loss = 66.98583, step = 2301 (0.223 sec)
INFO:tensorflow:global_step/sec: 441.372
INFO:tensorflow:loss = 97.22498, step = 2401 (0.226 sec)
INFO:tensorflow:global_step/sec: 445.17
INFO:tensorflow:loss = 153.75755, step = 2501 (0.224 sec)
INFO:tensorflow:global_step/sec: 447.226
INFO:tensorflow:loss = 125.46199, step = 2601 (0.224 sec)
INFO:tensorflow:global_step/sec: 461.315
INFO:tensorflow:loss = 90.410126, step = 2701 (0.216 sec)
INFO:tensorflow:global_step/sec: 443.242
INFO:tensorflow:loss = 98.1026, step = 2801 (0.227 sec)
INFO:tensorflow:global_step/sec: 441.676
INFO:tensorflow:loss = 256.7033, step = 2901 (0.225 sec)
INFO:tensorflow:global_step/sec: 440.006
INFO:tensorflow:loss = 46.126305, step = 3001 (0.229 sec)
INFO:tensorflow:global_step/sec: 452.255
INFO:tensorflow:loss = 81.11092, step = 3101 (0.221 sec)
INFO:tensorflow:global_step/sec: 435.275
INFO:tensorflow:loss = 121.790985, step = 3201 (0.230 sec)
INFO:tensorflow:global_step/sec: 432.67
INFO:tensorflow:loss = 61.567226, step = 3301 (0.231 sec)
INFO:tensorflow:global_step/sec: 440.215
INFO:tensorflow:loss = 53.536194, step = 3401 (0.227 sec)
INFO:tensorflow:global_step/sec: 454.392
INFO:tensorflow:loss = 56.67254, step = 3501 (0.220 sec)
INFO:tensorflow:global_step/sec: 452.356
INFO:tensorflow:loss = 232.56477, step = 3601 (0.220 sec)
INFO:tensorflow:global_step/sec: 442.831
INFO:tensorflow:loss = 37.004402, step = 3701 (0.226 sec)
INFO:tensorflow:global_step/sec: 446.161
INFO:tensorflow:loss = 80.81261, step = 3801 (0.226 sec)
INFO:tensorflow:global_step/sec: 446.164
INFO:tensorflow:loss = 143.84277, step = 3901 (0.224 sec)
INFO:tensorflow:global_step/sec: 437.038
INFO:tensorflow:loss = 138.13596, step = 4001 (0.228 sec)
INFO:tensorflow:global_step/sec: 439.877
INFO:tensorflow:loss = 45.37741, step = 4101 (0.230 sec)
INFO:tensorflow:global_step/sec: 456.167
INFO:tensorflow:loss = 48.813763, step = 4201 (0.217 sec)
INFO:tensorflow:global_step/sec: 444.103
INFO:tensorflow:loss = 66.92717, step = 4301 (0.225 sec)
INFO:tensorflow:global_step/sec: 442.848
INFO:tensorflow:loss = 44.15248, step = 4401 (0.226 sec)
INFO:tensorflow:global_step/sec: 441.483
INFO:tensorflow:loss = 467.77533, step = 4501 (0.227 sec)
INFO:tensorflow:global_step/sec: 434.361
INFO:tensorflow:loss = 66.97005, step = 4601 (0.229 sec)
INFO:tensorflow:global_step/sec: 437.1
INFO:tensorflow:loss = 102.21863, step = 4701 (0.229 sec)
INFO:tensorflow:global_step/sec: 433.029
INFO:tensorflow:loss = 34.81208, step = 4801 (0.231 sec)
INFO:tensorflow:global_step/sec: 440.358
INFO:tensorflow:loss = 44.47766, step = 4901 (0.227 sec)
INFO:tensorflow:global_step/sec: 458.911
INFO:tensorflow:loss = 67.213135, step = 5001 (0.218 sec)
INFO:tensorflow:global_step/sec: 457.862
INFO:tensorflow:loss = 63.68576, step = 5101 (0.217 sec)
INFO:tensorflow:global_step/sec: 454.236
INFO:tensorflow:loss = 33.704872, step = 5201 (0.221 sec)
INFO:tensorflow:global_step/sec: 453.117
INFO:tensorflow:loss = 36.049294, step = 5301 (0.221 sec)
INFO:tensorflow:global_step/sec: 443.198
INFO:tensorflow:loss = 43.633934, step = 5401 (0.225 sec)
INFO:tensorflow:global_step/sec: 433.705
INFO:tensorflow:loss = 77.08243, step = 5501 (0.230 sec)
INFO:tensorflow:global_step/sec: 437.183
INFO:tensorflow:loss = 48.25885, step = 5601 (0.229 sec)
INFO:tensorflow:global_step/sec: 425.025

INFO:tensorflow:loss = 552.8117, step = 5701 (0.238 sec)
INFO:tensorflow:global_step/sec: 452.832
INFO:tensorflow:loss = 58.7054, step = 5801 (0.220 sec)
INFO:tensorflow:global_step/sec: 452.957
INFO:tensorflow:loss = 48.71203, step = 5901 (0.221 sec)
INFO:tensorflow:global_step/sec: 429.333
INFO:tensorflow:loss = 72.47348, step = 6001 (0.232 sec)
INFO:tensorflow:global_step/sec: 417.779
INFO:tensorflow:loss = 72.84801, step = 6101 (0.239 sec)
INFO:tensorflow:global_step/sec: 438.379
INFO:tensorflow:loss = 47.53974, step = 6201 (0.230 sec)
INFO:tensorflow:global_step/sec: 453.814
INFO:tensorflow:loss = 56.91107, step = 6301 (0.219 sec)
INFO:tensorflow:global_step/sec: 446.842
INFO:tensorflow:loss = 55.627235, step = 6401 (0.225 sec)
INFO:tensorflow:global_step/sec: 439.447
INFO:tensorflow:loss = 64.61145, step = 6501 (0.228 sec)
INFO:tensorflow:global_step/sec: 443.241
INFO:tensorflow:loss = 81.24286, step = 6601 (0.225 sec)
INFO:tensorflow:global_step/sec: 458.666
INFO:tensorflow:loss = 90.09927, step = 6701 (0.217 sec)
INFO:tensorflow:global_step/sec: 447.271
INFO:tensorflow:loss = 58.712223, step = 6801 (0.225 sec)
INFO:tensorflow:global_step/sec: 446.89
INFO:tensorflow:loss = 81.83399, step = 6901 (0.223 sec)
INFO:tensorflow:global_step/sec: 435.129
INFO:tensorflow:loss = 41.641487, step = 7001 (0.230 sec)
INFO:tensorflow:global_step/sec: 449.092
INFO:tensorflow:loss = 44.865417, step = 7101 (0.221 sec)
INFO:tensorflow:global_step/sec: 457.641
INFO:tensorflow:loss = 110.54434, step = 7201 (0.220 sec)
INFO:tensorflow:global_step/sec: 456.539
INFO:tensorflow:loss = 59.364548, step = 7301 (0.219 sec)
INFO:tensorflow:global_step/sec: 448.08
INFO:tensorflow:loss = 82.531364, step = 7401 (0.223 sec)
INFO:tensorflow:global_step/sec: 430.415
INFO:tensorflow:loss = 31.179228, step = 7501 (0.233 sec)
INFO:tensorflow:global_step/sec: 433.821
INFO:tensorflow:loss = 46.659214, step = 7601 (0.230 sec)
INFO:tensorflow:global_step/sec: 400.77
INFO:tensorflow:loss = 40.577953, step = 7701 (0.250 sec)
INFO:tensorflow:global_step/sec: 433.832
INFO:tensorflow:loss = 57.82377, step = 7801 (0.231 sec)
INFO:tensorflow:global_step/sec: 447.786
INFO:tensorflow:loss = 140.90746, step = 7901 (0.223 sec)
INFO:tensorflow:global_step/sec: 455.686
INFO:tensorflow:loss = 60.806812, step = 8001 (0.219 sec)
INFO:tensorflow:global_step/sec: 458.321
INFO:tensorflow:loss = 132.69408, step = 8101 (0.218 sec)
INFO:tensorflow:global_step/sec: 444.464
INFO:tensorflow:loss = 57.24758, step = 8201 (0.225 sec)
INFO:tensorflow:global_step/sec: 459.97
INFO:tensorflow:loss = 41.777447, step = 8301 (0.217 sec)
INFO:tensorflow:global_step/sec: 456.462
INFO:tensorflow:loss = 181.94641, step = 8401 (0.218 sec)
INFO:tensorflow:global_step/sec: 456.965
INFO:tensorflow:loss = 46.87382, step = 8501 (0.220 sec)
INFO:tensorflow:global_step/sec: 436.906
INFO:tensorflow:loss = 102.151146, step = 8601 (0.229 sec)
INFO:tensorflow:global_step/sec: 447.892
INFO:tensorflow:loss = 113.06785, step = 8701 (0.223 sec)
INFO:tensorflow:global_step/sec: 448.558
INFO:tensorflow:loss = 46.312317, step = 8801 (0.223 sec)
INFO:tensorflow:global_step/sec: 442.522
INFO:tensorflow:loss = 48.082954, step = 8901 (0.225 sec)
INFO:tensorflow:global_step/sec: 458.834
INFO:tensorflow:loss = 44.39547, step = 9001 (0.219 sec)
INFO:tensorflow:global_step/sec: 437.987
INFO:tensorflow:loss = 57.446953, step = 9101 (0.228 sec)
INFO:tensorflow:global_step/sec: 455.8
INFO:tensorflow:loss = 44.624397, step = 9201 (0.219 sec)
INFO:tensorflow:global_step/sec: 442.091
INFO:tensorflow:loss = 50.33483, step = 9301 (0.226 sec)
INFO:tensorflow:global_step/sec: 459.406
INFO:tensorflow:loss = 134.24324, step = 9401 (0.217 sec)
INFO:tensorflow:global_step/sec: 438.767
INFO:tensorflow:loss = 39.35683, step = 9501 (0.229 sec)
INFO:tensorflow:global_step/sec: 443.219
INFO:tensorflow:loss = 37.62124, step = 9601 (0.226 sec)
INFO:tensorflow:global_step/sec: 444.067
INFO:tensorflow:loss = 36.47454, step = 9701 (0.224 sec)
INFO:tensorflow:global_step/sec: 466.148
INFO:tensorflow:loss = 87.31644, step = 9801 (0.216 sec)
INFO:tensorflow:global_step/sec: 458.005
INFO:tensorflow:loss = 42.984646, step = 9901 (0.218 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /tmp/tmp_676ldo_/model.ckpt.
INFO:tensorflow:Loss for final step: 42.456436.

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [189]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,y=None,batch_size=len(X_test),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [190]:
pred_gen = model.predict(input_fn=pred_fn)

** Each item in your list will look like this: **

In [191]:
pred_gen

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [192]:
predictions = list(model.predict(input_fn=predict_func))

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Entity <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0b14dd9160>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0b14dd9160>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0b14dd9160>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0b14dd9160>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0c1ff36ba8>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0c1ff36ba8>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0c1ff36ba8>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0c1ff36ba8>>: AssertionError: Bad argument number for Name: 3, expecting 4
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp_676ldo_/model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [194]:
predictions = list(model.predict(input_fn=pred_fn))

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:Entity <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0ab3558828>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0ab3558828>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0ab3558828>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method LinearModel.call of <tensorflow.python.feature_column.feature_column_v2.LinearModel object at 0x7f0ab3558828>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING:tensorflow:Entity <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0ab3399eb8>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0ab3399eb8>>: AssertionError: Bad argument number for Name: 3, expecting 4
WARNING: Entity <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0ab3399eb8>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output. Cause: converting <bound method _LinearModelLayer.call of <tensorflow.python.feature_column.feature_column_v2._LinearModelLayer object at 0x7f0ab3399eb8>>: AssertionError: Bad argument number for Name: 3, expecting 4
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp_676ldo_/model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [196]:
predictions[0]

{'all_class_ids': array([0, 1], dtype=int32),
 'all_classes': array([b'0', b'1'], dtype=object),
 'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.02583116], dtype=float32),
 'logits': array([-3.6300042], dtype=float32),
 'probabilities': array([0.97416884, 0.02583113], dtype=float32)}

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [197]:
final_pred = []
for pred in predictions:
    final_pred.append(pred['class_ids'][0])

In [199]:
final_pred[:10]

[0, 1, 1, 0, 0, 1, 1, 0, 0, 1]

In [201]:
from sklearn.metrics import classification_report

In [202]:
print(classification_report(y_test,final_pred))

              precision    recall  f1-score   support

           0       0.90      0.90      0.90      8196
           1       0.68      0.67      0.67      2550

   micro avg       0.85      0.85      0.85     10746
   macro avg       0.79      0.79      0.79     10746
weighted avg       0.85      0.85      0.85     10746

# Great Job!